/* estilizando elementos de texto */
h1 {
    font-family: 'Lucida Sans' ,sans-serif;
    color: brown;
    /* text-transform: uppercase; */
    text-transform: capitalize;
    /* text-transform: lowercase; */
    font-weight: 900;
    letter-spacing: 3.3px;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.7);
    text-align: center;
}

p {
    font-family: 'Lucida Sans' ,sans-serif;
    color: rgb(8, 58, 13);
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    text-transform: lowercase;
    font-weight: 900;
    letter-spacing: 1.3px;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    text-align: center;
}

blockquote{
    font-family: 'Lucida Sans' ,sans-serif;
    color: rgb(8, 58, 13);
    /* text-transform: uppercase; */
    /* text-transform: capitalize; */
    text-transform: lowercase;
    font-weight: 900;
    letter-spacing: 1.3px;
    font-size: 16px;
    line-height: 26px;
    font-style: italic;
    text-align: right;
}

